@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
h5 {
    font-family: 'Tangerine', cursive;
    font-size: 46px;
    /* font-weight: bold; */
}

h6 {
    color: gray;
    font-size: 12px;
}

ul {
    list-style: none;
}