/* You can add global styles to this file, and also import other style files */

@import url('./assets/css/fonts.css');
body {
    background-image: url("assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card {
    margin: 5px 150px;
    background-color: rgba(245, 245, 245, 0.726);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: none;
}

i {
    color: #6a8033;
}

i:hover {
    color: #92ac50;
}

.close {
    color: #e9211e;
}